.player-name {
  padding-top: 20px;
  text-align: center;
  font-size: 2rem;
  margin-bottom: 10px;
  text-transform: uppercase;
  font-weight: bold;
  color: white;
  text-shadow: 0 1px 2px rgba(black, 0.15);
}

.player-info {
  font-family: "Montserrat", sans-serif;
  background-color: #ec8832;
}

.button-padding {
  padding-bottom: 30px;
}

.no-padding {
  padding: 0;
}

.no-margin {
  margin: 0;
}

.play-button {
  background-color: #269ce9;
  border-color: #269ce9;
  display: inline-block;
  zoom: 1;
  padding: 6px 20px;
  cursor: pointer;
  border: 1px solid #bbb;
  overflow: visible;
  font: bold 13px arial, helvetica, sans-serif;
  text-decoration: none;
  white-space: nowrap;
  color: #555;
}

.play-button:hover {
  background-color: #70b9e8;
}

.play-button:active {
  background: #269ce9;
}

.dice {
  height: 150px;
  width: 150px;
}

.dice-center-align {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  padding-bottom: 40px;
}

.player-home {
  height: 300px;
  width: 300px;
  border-style: solid;
  border-width: 50px;
}

.border-red {
  border-color: red;
}
.border-blue {
  border-color: blue;
}
.border-green {
  border-color: green;
}
.border-yellow {
  border-color: yellow;
}

.coin-red {
  background-color: rgb(160, 64, 64);
}
.coin-blue {
  background-color: rgb(51, 51, 184);
}
.coin-green {
  background-color: #527c4f;
}
.coin-yellow {
  background-color: #b2b030;
}

.coin-common {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  display: inline-block;
}

.player-coin {
  height: 100px;
  padding-top: 30px;
  padding-left: 30px;
}

.square {
  height: 50px;
  width: 50px;
  border-style: solid;
  border-width: 3px;
}

.flex-display {
  display: flex;
  align-items: center;
}
.float-right {
  float: right;
}

.float-left {
  float: left;
}

.home-center {
  height: 150px;
  width: 150px;
}

.square-blue {
  background-color: blue;
}

.square-red {
  background-color: red;
}

.square-yellow {
  background-color: yellow;
}

.square-green {
  background-color: green;
}

.dice-panel {
  border-style: solid;
  border-width: 3px;
}

.clickable-token {
  zoom: 1.2;
}
